{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <ul class="list-group" style="width:250px;">
		<a href="{% url 'mobile' %}"><li class="list-group-item active">mobile</li></a>
		<a href="{% url 'mobiledata' 'redmi' %}"><li class="list-group-item">redmi</li></a>
		<a href="{% url 'mobiledata' 'vivo' %}"><li class="list-group-item">vivo</li></a>
    <a href="{% url 'mobiledata' 'realmi' %}"><li class="list-group-item">realmi</li></a>
    </ul>  
  </div>

  <div class="col-sm-8">
      <div class="row">
          {% for i in mobiles %}
          <div class="col-sm-4 text-center md-4">
            <a href="{% url 'product-detail' i.id %}" class="btn">
            <div class="item">
              <img src="{{i.product_image.url}}" alt="" height="300" class="">
              <div class="fw-bold">
                {{i.title}}
              </div>
              <div class="fw-bold">Rs {{i.discount_price}}
                <small class="fw-light text-decoration-line-through">
                  {{i.selling_price}}
                </small>
              </div>
            
            </div>
            
          </a>
              
          </div>

          {% endfor %}
      </div>

</div>
{% endblock main-content %}